.menucolumn1 {
    width: 45%;
    flaot:left;
    display: inline-block;
    position:relative;
}



.menucolumn2 {
    width: 45%;
    flaot:right;
    display: inline-block;
    position:relative;
}


.menu-button {
    margin:0 auto;
    width:90%;
    height:65%;
    text-align:center;
    padding-top:20px;
}

.menu-button ul {
    list-style-type: none;
}
.menu-button li {
    height:70px;;   
}

#menu-bar {
    position:absolute;
    right:0;
    width:50px;
    height:100px;
    margin-top:20px; 
    display: block;
}

#menu-bar:hover {
    color:#666;
  
}

.menu-page {
    height:100%;
    width:98%;
    position:absolute;
    top:0;
    
}

.menubottom{
    width:100%;
    position:absolute;
    bottom:5px;
    
}
.clear {
    
    clear: both;
}

.btn-h-space{
    height:50px;
}

.btn-v-space{
    width:30%;
    display:block;
}

.menubottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menubottom li {
    display: inline;
    margin-left:15%;
    padding:20px;   
}

.menubottom a {
    font-size:60px;
    color:white;
    text-decoration: none;
}

.menubottom li a:hover {
    color:green;
}