
.page {
    //padding-right:50px;
	//width:100%;
}
.home {
    opacity:0;
    pointer-events: none;
}


.graph {
    opacity:0;
    pointer-events: none;
}


.menu-page {
    opacity:0;
    pointer-events: none;
	
}

.visible {
    pointer-events: auto;
    opacity:1;
    
}

#menu-bar {
	top:0;
	right:0;
	height:40px;
	text-align:right;
}



